body {
  margin: 0;
  background-color: #000;
  width: fit-content;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Intro Page */

.introdiv {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  justify-content: space-evenly;
  align-items: center;
}
.introdiv > .heading {
  font-size: 2rem;
  font-weight: 350;
  position: relative;
  bottom: 1.5rem;
}
.introdiv > .description {
  font-size: 1rem;
  font-weight: 250;
  position: relative;
  top: -2.2rem;
}
.introdiv > .projectButton {
  width: 50%;
  font-size: .7rem;
    position: relative;
    top: -.5rem;
}
.introdiv > .aboutButton {
  font-size: .7rem;
    position: relative;
    top: -1.5rem;
}
.buttonText {
  color: #fff;
  text-decoration: none;
  font-size: .5rem;
}
.introdiv > .description {
  position: relative;
  bottom: 1.3rem;
}
.introdiv > .linkedin {
  position: relative;
  top: 1rem;
  right: 2rem;
}
.introdiv > .github {
  position: relative;
  left: 2rem;
  bottom: 2.35rem;
}
@media (min-width: 1020px) {
  .introdiv > .heading {
    font-size: 3rem;
  }
  .introdiv > .description {
    font-size: 1.5rem;
    top: -3.5rem;
  }
  .introdiv > .aboutButton {
    top: -3rem;
  }
  .introdiv > .projectButton {
    top: -1.5rem;
  }
  .buttonText {
    font-size: .6rem;
  }
}
/* Projects page */

.homeButton {
  position: absolute;
  top: .5rem;
  left: .5rem;
}
.deepdish > .pizzavid {
  position: absolute;
  left: 40rem;
  width: 35rem;
  height: 20rem;
  top: -.5rem;

}
.itunes > .itunesvid {
  position: absolute;
  left: 40rem;
  top: -2rem;
  width: 35rem;
  height: 20rem;
}
.itunes {
  position: absolute;
  top: 55rem;
  left: 6rem;
}
.deepdish {
  position: absolute;
  top: 31rem;
  left: 6rem;
}

/* Projects */

.projectDiv {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: .4rem;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-50%);
  justify-content: space-evenly;
  align-items: center;
}
.projectHeading {
  font-size: 4rem;
  font-weight: 300;
  position: relative;
  bottom: 1rem;
}
.sourcecodeBtn {
  position: relative;
  bottom: 2.5rem;
}
.description1 {
  position: relative;
  bottom: 1.5rem;
  text-align: center;
  padding: 0 .5rem 0 .5rem;
  font-size: .75rem;
}
.description2 {
  font-size: .75rem;
  text-align: center;
  position: relative;
  bottom: 1rem;
}
.video {
  border: none;
}
@media (min-width: 1020px) {
  .projectDiv {
    top: 40%;
  }
  .projectHeading {
    font-size: 5rem;
  }
  .sourcecodeBtn {
    bottom: 3rem;
  }
  .description1 {
    font-size: 1rem;
  }
  .description2 {
    font-size: 1rem;
  }
  .video {
    width: 400px;
    height: 220px;
  }
}

/* About */

.aboutDiv {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);
  justify-content: space-evenly;
  align-items: center;
}
.musicvid {
  border: none;
  margin-bottom: 1rem;
}
.about1 {
  font-size: .85rem;
}
.about2 {
  font-size: .85rem;
  position: relative;
  bottom: 1rem;
}
@media (min-width: 1020px) {
  .aboutDiv {
    top: 45%;
    gap: 1rem;
  }
  .about1 {
    font-size: 1rem;
  }
  .about2 {
    font-size: 1rem;
  }
  .musicvid {
    width: 400px;
    height: 240px;
  }
}